<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Achtung! Cesium</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="form-field">
        <mat-label>player name</mat-label>
        <input matInput (keyup)="onKey($event)">
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="form-field" (click)="executeLogin()">Login</button>
  </mat-card-actions>
</mat-card>