.logged-user-card {
    width: 130px;
    height: 130px;
    text-align: center;
}

.players-card {
    text-align: center;
}

.player-card{
    width: 80px;
    height: 80px;
    border: 3px groove white;
    margin: 10px;
    text-align: center;
}
    
.form-field{
   width:100%;
}

h5, h4{
  font-weight: bold;
}

.ready{
    color: green;
}

.pending{
    color: red;
}